*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    padding: 50px 50px;
      
}
.top strong{
    font-size: 25px;


}
.top{
    display: flex;
    justify-content: space-between;
}
.top .button{
    background: green;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    
}

.continer div{
    width: 300px;
    padding: 30px;
    background: #091413;
    color: white;
    margin: 5px;
    border-radius: 10px;


}
.btn{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    background: tomato;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 
    .25cap;
    border-radius: 10px;

}
.btn:hover{
    background: rgb(141, 49, 33);   

}
.continer, .continer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.continer2 div{
    width: 300px;
    padding: 30px;
    background: #397d78;
    color: white;
    margin: 5px;
    border-radius: 10px;
    text-align: center;


}
.continer2{
    flex-wrap: wrap;
}

    

.continer3 div{
    background: green;
    max-width: 400px;
    min-width: 300px;
    padding: 30px;
    background: #397d78;
    color: white;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}
.continer3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.continer4 div{
    background: #397d78;
    margin: 10px;
    text-align: center;
    width: auto;
    width: 100px;
}
.continer4 {
    display: flex;
    align-items: stretch;
    height: 200px;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* css flex items */
.items{
    background: rgb(192, 192, 192);
    
}
.items strong{
    text-align: center;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;

}
.items strong::after{
    content: '';
    width: 50px;
    height: 20px;
    background: green;
    position: absolute;
    top: 30px;
    left: 55%;

}
.items h2{
    text-align: center;

}
.items-continer div{
    background: green;
    width: 100px;
    margin: 5px;
    text-align: center;
    padding: 20px ;
    font-size: 20px;
    font-weight: bolder;

}
.items-continer{
    padding: 30px 20px;
    display: flex;
    justify-content: center;


}
.responsive h2{
    padding-bottom: 30px;
}

.flex-continer{
    display: flex;
    flex-wrap: wrap;

}
.claum{
    flex: 25%;
    padding: 0 5px;

}
.claum img{
    margin-top: 5px;
    vertical-align: middle;


}
@media screen and (max-width: 800px) {
    .claum{
        flex: 50%;
        max-width: 50%;

    }
    
}
@media screen and (max-width: 600px) {
    .claum{
        flex: 100%;
        max-width: 100%;

    }
    
}